.weather {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin: 30px auto;
}

.condition {
  margin: 20px auto;
  font-size: 20px;
}

.cloudy {
  margin: 20px auto;
  font-size: 14px;
}

.location {
  font-size: 28px;
  font-weight: bold;
}

.logo {
  width: 100px;
  height: 100px;
  margin: 5px auto;
}

.weather_info{
  font-size: 14px;
  font-weight: bold;
  margin: 20px 25px 10px;
  text-align: start;
  width: 90%;
}



.react_app {
  color: black;
  font-size: 18px;
  font-weight: bold;
  margin: 10px auto;
}
